h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header .container {
  display: flex;
  align-items: center;
  height: 72px;
}

.section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 4px rgba(46, 47, 66, 0.08),
    0px 2px 2px rgba(46, 47, 66, 0.04),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  height: 24px;
}

.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.footer-studio {
  color: #f4f4fd;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
}

.nav-link.current {
  color: #404bbf;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link,
.contact-link,
.hero-button {
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list {
  display: flex;
  gap: 40px;
}
address {
  font-style: normal;
  margin-left: auto;
}
.contact-link {
  display: flex;
  align-items: center;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  text-align: center;
  background-color: #2e2f42;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office1.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}

.hero-button {
  margin-top: 48px;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(77, 90, 229, 0.3);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  box-shadow: 0 6px 12px rgba(77, 90, 229, 0.4);
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
}

.features-icon,
.team-social-link svg {
  fill: #2e2f42;
}

.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-content {
  padding: 32px 16px;
  text-align: center;
}

.team-name {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link svg {
  fill: #f4f4fd;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  width: 40px;
  height: 40px;
  background-color: #4a5fff; /* синій фон */
  border-radius: 50%; /* кругла форма */
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon svg {
  fill: white; /* білий символ */
  width: 20px;
  height: 20px;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки рівної ширини */
  column-gap: 24px; /* проміжки між колонками */
  row-gap: 48px; /* проміжки між рядками */
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus-within {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-thumb img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  background: rgba(77, 90, 229, 0.85);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  transform: translateY(100%); /* ховаємо під картку */
  opacity: 0;
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus-within .portfolio-overlay {
  transform: translateY(0);
  opacity: 1;
}
.portfolio-overlay-text {
  color: #fff;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-social-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-link svg {
  fill: #f4f4fd;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
